.messageList {
    background-color: darkgoldenrod;
    padding: 1em;
    grid-area: content;
}

.message {
    margin: 0.5em;
    padding: 0.5em;
    text-transform: capitalize;
    text-align: justify;
    width: 30%;
    background-color: lightblue;
    border-radius: 10%;
    font-size: 0.8em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
    color: #fff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 0.5em;
    margin: 0.5em;
    width: 50%;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: background-color 0.1s linear;        
    background-color: rgb( 43, 153, 91 );
    border: 1px solid rgb( 33, 126, 74 );
        
    &:hover {
        background-color: rgb( 75, 183, 141 );
    }
}