.message {
  background-color: cornflowerblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px;
  position: relative;

  &-sender {
    color: #3f51b5;
    font-size: 14px;
  }

  &-sender::first-letter {
    text-transform: capitalize;
  }

  &-owner {
    align-self: flex-end;
    color: whitesmoke;
  }

  &-companion {
    align-self: flex-start;
    color: whitesmoke;
  }

  &-delete {
    display: none;
  }

  &-owner:hover &-delete, &-companion:hover &-delete {
    display: inline-block;
    position: absolute;
    top: 0;
    left: -30px;
    cursor: pointer;
    padding: 5px 20px 5px 5px;
    color: red;
  }
}