.header {
  background-color: #d5d4dd;
  height: 100%;
  overflow: unset;

  h1 {
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 10px;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 16px;

    div {
      margin: 10px;
    }
  }
}