.message {
  background-color: lightseagreen;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 20px;
  margin: 5px;

  &-sender{
    color: grey;
    font-size: 14px;
  }

  &-sender::first-letter{
    text-transform: capitalize;
  }

  &-owner{
    align-self: flex-end;
  }

  &-companion{
    align-self: flex-start;
  }
}